body {
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  margin: 0;
  min-width: 300px;
}
#header-nav {
  border-radius: 0;
  border: 0;
  color: #000;
  background-color: #afafaf;
  border-bottom: 1px solid black;
  min-height: 70px;
  margin: 0;
}
#header-nav .container {
  margin: 0;
}
.navbar-brand h1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}
#header-nav button {
  margin-right: 35px;
}
#collapsable-nav {
  padding: 0;
}
#nav-list {
  margin-top: 10px;
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}
#nav-list li {
  border-top: 1px solid black;
  font-size: 1.25em;
  padding: 5px;
  background-color: #dfdfdf;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle:focus .icon-bar {
  border: 1px solid #dfdfdf;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-header button.navbar-toggle:focus {
  border: 1px solid #dfdfdf;
  background: #afafaf;
}
#main-content {
  margin: 0;
  padding: 0;
  background: #fff;
  width: 100%;
}
#main-content h1 {
  margin-bottom: 30px;
}
#main-content section {
  background: #afafaf;
  padding: 10px;
}
#main-content section p {
  padding: 10px;
}
#home-tiles {
  margin: 0;
}
